<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94546060015-blcc4mi63mmdbe1s72hvgq72gsadhni4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94546060015-blcc4mi63mmdbe1s72hvgq72gsadhni4</string>
	<key>API_KEY</key>
	<string>AIzaSyCMf0s5mLkea26qoKo7n3stWlxJQJJbN4A</string>
	<key>GCM_SENDER_ID</key>
	<string>94546060015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serjbets.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-be4bc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-be4bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94546060015:ios:bf01efa89ec9f8fb71b11a</string>
</dict>
</plist>